* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #282d35;
}

.nav {
  height: 10vh;
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.6rem;
}

.img-logo {
  width: 2.8rem;
}

.nav-logo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #61dafb;
}
ul {
  list-style: none;
}

.main-content {
  padding: 5.7rem 2.7rem;
  background-image: url(./reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 4.6rem;
  letter-spacing: -0.05em;
}

.list-item {
  list-style: disc;
  padding-left: 4.8rem;
}

.list {
  padding-bottom: 2rem;
  line-height: 1.9rem;
}

.list::marker {
  color: #61dafb;
  font-size: 2.2rem;
}
